<a href="https://colab.research.google.com/github/Bassam-123/DSTT-Assignment/blob/main/DSTT_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Name : Bassam Nazer

## Reg no: 22-27-07

Question 1

Given an array A of N numbers (int), Write a program which prints the multiplication of the
elements of array A with the corresponding elements of the reverse of array A.
If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3].

In [4]:
n = int(input("Enter the size of the array: "))
x = [int(i) for i in input().split()]
y = []
for i in range(0,n):

  y.append( (x[i]*x[n-1-i]))

result = ' '.join(str(i) for i in y)
print(result)

Enter the size of the array: 3
1 2 3
3 4 3

Question 2

Given a list of numbers (integers), find second maximum and second minimum in
this list.

In [3]:
a = [2,4,5,6,2,8,1,8,9]
a.remove(max(a))
c = max(a)
print("Second Largest element is:", c)
a.remove(min(a))
b = min(a)
print("Second Smallest element is:", b)

Second Largest element is: 8
Second Smallest element is: 2

Question 3

Given a list A of numbers (integers), you have to print those numbers which are not
multiples of 5.

In [ ]:
list1 = [1,2,4,5,6,7,10,13,15,17,20]
list2 = []
for i in list1:
  if i % 5 == 0:
    list1.remove(i)

print(list1)

[1, 2, 4, 6, 7, 13, 17]

Question 4

You are given a number A which contains only digits 0’s and 1’s. Your task is to
make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is
possible to make all the digits same by just flipping one digit then print ’YES’ else
print ’NO’.

In [ ]:
def canMakeAllSame(str):
    zeros = 0
    ones = 0
 
    # Traverse through given string and
    # count numbers of 0's and 1's
    for i in range(0, len(str)):
        ch = str[i];
        if (ch == '0'):
            zeros = zeros + 1
        else:
            ones = ones + 1
 
    # Return true if any of the two
    # counts is 1
    return (zeros == 1 or ones == 1);
 
# Driver code
n = input('Enter a binary number: ')
if(canMakeAllSame(n)):
    print("Yes\n")
else:
    print("No\n")

Enter a binary number: 1110
Yes

Question 5

Given an integer number n, you have to print the factorial of this number.

In [ ]:
def fact(x):
  if x ==1:
    return 1
  
  else:
    return (x*fact(x-1))

x = int(input('Enter a Number: '))
result = fact(x)
print('The Factorial of',x,'is',result)

Enter a Number: 4
The Factorial of 4 is 24

Question 6

Write a program, which will find all such numbers between m and n (both included)
such that each digit of the number is an even number.

In [ ]:
x = input().split(',')
m = int(x[0])
n = int(x[1])
result = []
for i in range(m,n):
  if int(i) % 2 ==0 and int(i) % 20 < 10 and int(i) % 200 < 100 and int(i) % 2000 < 1000:
    result.append(str(i))
print(','.join(result))

2000,3000
2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888